.header {
	background: url("img/fca7.jpg");
	background-position: center -400px;
}

.member {
	background-color: rgba(206, 206, 206, 0.3);
	border-radius: 2%;
	width: 300px;
	display: inline-block;
	margin: 2em;
}

.profile  {
	max-width: 150px;
	max-height: 150px;
	border-radius: 100%;
	padding: 0em;
}

.member h2 {
	text-shadow: none;
	padding-top: .7em;
}


.member ul {
	padding: 0;
	margin: 0;
}

.member li {
	margin: 0;
}

.others ul {
	background-color: rgba(206, 206, 206, 0.3);
	border-radius: 5px;
}

.others li {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	text-align: left;
	font-weight: 400;
	padding: .5em;
}

.others {
	display: inline-block;
}

#wrapper {
	max-width: 1500px;
}


@media only screen and (max-width: 1140px) {
	.header {
		background-position: center -500px;
	}
}

@media only screen and (max-width: 700px) {
	.member {
		width: 100%;
		margin: 2em 0;
	}
	#wrapper .social img{
		padding: 1em;
	}
}
