/* colors
red:  #7f0808
light red:  #c40909
gray:  #232323
light gray:  rgba(206, 206, 206, 0.3)
*/


.header {
	background-image: url("img/fca4.JPG");
	background-size: cover;
	background-position: center -50px;
}


#wrapper {
	margin: 0 auto;
	margin-top: 3em;
}

#wrapper p {
	text-align: center;
}

.contacts {
  display: inline-block;
  max-width: 500px;
  margin: 0 3em;
}

.contacts img {
  margin-bottom: 2em;
}

#email {
  width: 400px;
  height: 400px;

}

#insta {
  width: 300px;
  height: 300px;
}

#FB {
  width: 300px;
  height: 300px;
}

#contact-insta {
width: 350px;
}

#contact-facebook {
width: 350px;
}

.contacts a {
text-decoration: none !important;
}

@media only screen and (max-width: 700px) {
	.contacts {
		margin: 0;
		width: 100%;
	}
	.contacts h3 {
		font-size: .96em;
	}

#email {
  max-width: 75%;
  height: auto;

}

#insta {
  max-width: 75%;
  height: auto;
}

#FB {
  max-width: 75%;
  height: auto;
}

#contact-insta {
  max-width: 75%;
}

#contact-facebook {
  max-width: 75%;
}
}