/* colors
red:  #7f0808
light red:  #c40909
gray:  #232323
light gray:  rgba(206, 206, 206, 0.3)
*/


.header {
	background-image: url("img/fca4.JPG");
	background-size: cover;
	background-position: center -50px;
}


#wrapper {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 3em;
}

#wrapper p {
	text-align: center;
}


.contacts {
  display: inline-block;
  max-width: 500px;
  margin: 0 3em;
}

.contacts img {
  margin-bottom: 2em;
}

#email {
  width: 300px;
  height: 300px;

}

#insta {
  width: 300px;
  height: 300px;
}

#FB {
  width: 300px;
  height: 300px;
}

#contact-insta {
width: 350px;
}

#contact-facebook {
width: 350px;
}

.contacts a {
text-decoration: none !important;
}

#last{
	width: 100%;
	text-align: center;
}



@media only screen and (max-width: 1424px) {
	#email {
	  width: 200px;
	  height: 200px;
	}

	#insta {
	  width: 200px;
	  height: 200px;
	}

	#FB {
	  width: 200px;
	  height: 200px;
	}
	
	.contacts {
		margin: 0 1.5em;
	}
	
	.contacts h3 {
		font-size: 1.5em;
	}
	
	.info {
		margin: 1em;
	}

	

@media only screen and (max-width: 700px) {
	.contacts {
		margin: 0;
		width: 100%;
	}
	.contacts h3 {
		font-size: 1.5em;
	}

	#email {
	  width: 200px;
	  height: 200px;

	}

	#insta {
	  width: 200px;
	  height: 200px;
	}

	#FB {
	  width: 200px;
	  height: 200px;
	}

	#contact-insta {
	  max-width: 90%;
	}

	#contact-facebook {
	  max-width: 90%;
	}
}

@media only screen and (max-width: 567px) {
	.contacts h3 {
		font-size: 1.1em;
	}	
	
	#email {
	  width: 150px;
	  height: 150px;

	}

	#insta {
	  width: 150px;
	  height: 150px;
	}

	#FB {
	  width: 150px;
	  height: 150px;
	}
}