/* colors
red:  #7f0808
light red:  #c40909
gray:  #232323
light gray:  rgba(206, 206, 206, 0.3)
*/

.header {
	background-image: url("img/prom.jpg");
	background-position: center 80%;
	background-size: cover;
}

.events {
  background-color: rgba(206, 206, 206, 0.3);
	border-radius: 2%;
	margin: 3em 0;
	padding: 1em 0;
}

#yes {
  background-color: rgba(206, 206, 206, 0.3);
	border-radius: 2%;
	margin: 0 1em;
}

#yes li {
  color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	margin-left: 1em;
	text-align: left;
	padding-bottom: 1em;
}

#not {
  background: none;
}

#yt-logo {
	height: 100px;
	margin: 0;
}

#subscribe {
	margin: 1em 0;
}